.container{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(to right, rgb(214, 114, 214),rgb(143, 1, 143) );
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerBox{
    min-width: 300px;
    height: 300px;
    width: fit-content;
    background-color: black;
    color: white;
    border-radius: 5%;
    text-align: left;
    padding-left: 10px;
}
.footer{
    outline: none;
    text-decoration: none;
    
}
.footer button{
    background-color: aqua;
    margin-top: 10px;
    
    width:80%;
    height: 5vh;
}
.footer button:disabled{
    background-color: grey !important;
}
.error{
    color: red;
    font-size: 2ex;
    font-weight: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}